/* Mesa CSS */
body {
	background-color: #ffffff;
	font: 14px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	color: black;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

code {
	font-family: monospace;
	font-size: 10pt;
}

pre {
	font-size: 10pt;
	background-color: #eee;
	margin-left: 2em;
	padding: .5em;
}

div {

}

a.hov {
	color: #000080;
	text-decoration: none;
}

a.hov:hover {
	color: #0080FF;
	text-decoration: none;
}

iframe {
	width: 19em;
	height: 80em;
	border: none;
	float: left;
}

.content {
	position: absolute;
	left: 20em;
	right: 10px;
	overflow: hidden;
}

.outer-div
{
     padding: 10px;
     text-align: center;
}
.inner-div
{
     display: inline-block;
     width: 98%;
}


.header {
	background: url('/static/images/gears.png') 15px no-repeat, black url('/static/images/gears.png') right no-repeat;
	padding: 1.75rem;
	text-align: center;
	color: white;
	font: x-large sans-serif;
}

.pipeline_result_table {
	display: grid;
	grid-gap: 2px;
	margin-left:auto;
    margin-right:auto;
	background-color: #eeeeee;
}

.pipeline_table_header {
	display: grid;
	grid-template-columns: 60px 90px minmax(150px, 1fr);
}

.dev_table_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pipeline_table_container {
	display: grid;
	grid-template-columns: 60px 90px minmax(150px, 1fr);
}

.status_cell_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.pipeline_cell {
	text-align: center;
	vertical-align: middle;
	border-right: 2px solid;
	border-right-color: #eeeeee;
}

.device_cell {
	text-align: left;
	vertical-align: middle;
	border-right: 2px solid;
	border-right-color: #eeeeee;
}


.table_header {
	font-weight: bold;
	text-align: left;
	background-color: #cccccc;
	border-right: 2px solid;
	border-right-color: #eeeeee;
}

.bottom_line {
	border-bottom: 1px solid;
}

.right_bar {

}

.menu {
	display: grid;
	text-align: left;
	margin-left: 4em;
	margin-right: 4em;
	padding: 2px;
	grid-template-columns: 10em 10em;
	background-color: lightgray;
}

.dead_menu {
	color: #000000;
	font-weight: bold;
}

.hov_menu {
	color: #0000C0;
	background-color: lightgray;
	text-decoration: none;
}

.hov_menu:hover {
	color: #2020F0;
	background-color: #909090;
	text-decoration: none;
}


div.fail {
	background-color: red;
}

div.pass {
	background-color: lawngreen;
}
