<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Mesa Traces CI Dashboard</title>
<link rel="stylesheet"  href="{% static "css/tracie.css" %}"/>
</head>
<body>

<div class="header">
  Mesa Traces CI Dashboard
</div>

{% block content %}
{% endblock content %}
</body>
</html>
